<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281342454707-tba1jftquvqs3g1n39ivs2rd8qn6pdot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281342454707-tba1jftquvqs3g1n39ivs2rd8qn6pdot</string>
	<key>API_KEY</key>
	<string>AIzaSyCpyorT1Dk6f3-nNQN8kdl7mzwKQyKM6mk</string>
	<key>GCM_SENDER_ID</key>
	<string>281342454707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pureinfoapps.todo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-159852</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-159852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281342454707:ios:c2d0d004bd49343d08b9c6</string>
</dict>
</plist>